.buscador {

  // color: white;
  display: grid;
  align-items: center;
  justify-content: center;

  &--h1 {
    text-align: center;
  }

  &--div--busca {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--input {
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    width: 22.4rem;
    //  background-color: rgb(72, 75, 74);
    //    height: 1.4rem;
  }

  &--icon {
    align-items: center;
    cursor: pointer;
    size: 20;
    position: static;
  }

  &--lista{

  }
}