<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="logs/apiLog.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_DIR}</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/api/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <totalSizeCap>10MB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>-->
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.springframework" level="DEBUG"/>-->
    <logger name="com.spotifake" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </root>
</configuration>